hr
.foot
  .row
    .col
      .copyright
        i.fa.fa-copyright
        |       명지대학교 컴퓨터공학과 60162190 한승우
.mobile-foot
  #mobile-icon.copyright
    i.fa.fa-copyright
    |       명지대학교 컴퓨터공학과 60162190 한승우