.foot
  .row
    .col-sm-3
      p.foot-title
        | Use Eventbrite
      .foot-texts
        p.foot-text
          | How it works?
        p.foot-text
          | For Large&Complex Events
        p.foot-text
          | Pricing
        p.foot-text
          | Community Guidelines
        p.foot-text
          | Eventbrite Mobile App
        p.foot-text
          | Eventbrite Check-In App
        p.foot-text
          | Eventbrite Spectrum
        p.foot-text
          | Rally - Fun Things To Do
        p.foot-text
          | Event Organizing Resources
        p.foot-text
          | Sitemap
    .col-sm-3
      p.foot-title
        | Plan Events
      .foot-texts
        p.foot-text
          | Conference Management Software
        p.foot-text
          | Reunions
        p.foot-text
          | Nonprofits & Fundraisers
        p.foot-text
          | Eventbrite Reviews
        p.foot-text
          | Sell Tickets
        p.foot-text
          | Eventbrite Management & Planning
        p.foot-text
          | Online Event Registration
        p.foot-text
          | Online RSVP
        p.foot-text
          | Venue Booking & Management
        p.foot-text
          | Event Promotion
    .col-sm-3
      p.foot-title
        | Find Events
      .foot-texts
        p.foot-text
          | Boston Events
        p.foot-text
          | Chicago Events
        p.foot-text
          | Denver Events
        p.foot-text
          | Houston Events
        p.foot-text
          | Los Angles Events
        p.foot-text
          | Nashville Events
        p.foot-text
          | New York Events
        p.foot-text
          | San Diego Events
        p.foot-text
          | San Francisco Events
        p.foot-text
          | All Cities
    .col-sm-3
      p.foot-title
        | Connect With Us
      .foot-texts
        p.foot-text
          i.fa.fa-envelope-square
          |             Contact Support
        p.foot-text
          i.fa.fa-envelope-square
          |             Contact Sale
        p.foot-text
          i.fa.fa-twitter-square
          |             Twitter
        p.foot-text
          i.fa.fa-facebook-square
          |             Facebook
        p.foot-text
          i.fa.fa-linkedin-square
          |             Linkedln
        p.foot-text
          i.fa.fa-instagram
          |             Instagram
        p.foot-text
          i.fa.fa-google-plus
          |  Google+
  hr
  
  #about.foot-about
    .row
      .col
        span.foot-text
          | About &nbsp; &nbsp; 
        span.foot-text
          | Blog &nbsp; &nbsp; 
        span.foot-text
          | Help &nbsp; &nbsp; 
        span.foot-text
          | Careers &nbsp; &nbsp; 
        span.foot-text
          | Press &nbsp; &nbsp; 
        span.foot-text
          | Security &nbsp; &nbsp; 
        span.foot-text
          | Developers &nbsp; &nbsp;
        span.foot-text
          | Terms &nbsp; &nbsp; 
        span.foot-text
          | Privacy &nbsp; &nbsp; 
        span.foot-text
          | Cookies 
      .col-3
        select#foot-select.form-control
          option United States
          option  Argentina
          option  Australia
          option brasil
          option Canada(EN)
          option Canada(FR)
          option Deutschland
          option Espana
          option France
          option Hong Kong
          option Ireland
          option Italia
          option Nederland
          option New Zealand
          option Portugal
          option Singapore
          option United Kingdom
  hr
  .row
    .col
      .copyright
        i.fa.fa-copyright
        |       2017 Eventbrite
.mobile-foot
  span.mobile-text
    | How It Works
  span.mobile-text
    |Pricing
  span.mobile-text
    | Contact Support
  span.mobile-text
    | Contact Sales
  br
  span.mobile-text
    | About
  span.mobile-text
    | Blog
  span.mobile-text
    | Help
  span.mobile-text
    | Careers
  span.mobile-text
    | Press
  span.mobile-text
    | Security
  br
  span.mobile-text
    | Developers
  span.mobile-text
    | Terms
  span.mobile-text
    | Privacy
  span.mobile-text
  
    | Cookies
  select#mobile-select.form-control
    option United States
    option  Argentina
    option  Australia
    option brasil
    option Canada(EN)
    option Canada(FR)
    option Deutschland
    option Espana
    option France
    option Hong Kong
    option Ireland
    option Italia
    option Nederland
    option New Zealand
    option Portugal
    option Singapore
    option United Kingdom
  #mobile-icon.copyright
    i.fa.fa-copyright
    |       2017 Eventbrite