extends layout
block content
      .container-fluid.boody
        div
          .row.title
            div
              img.d-block.w-100.img-fluid(src='/images/homepage_hero_banner_1.jpg', alt='title image')
      .container.see-container
        .row.see
          .col.see-btn.text-center
            button.btn.btn-outline-primary.see-more(href='/event' type='button') SEE EVENT
      .container
        .row
          .col-md-6
            h3 서비스 목적
            p 본 서비스는 웹프로그래밍 EventBrite 유사 페이지 제작 프로젝트 입니다.
          .col-md-6
            h3 주요 기능
            ul
              li 회원가입/정보수정/회원탈퇴
              li 이벤트 등록/삭제/수정
              li 사용자 관리/인증
              li API
              li 카카오톡 로그인/ 페이스북 로그인

